.navbar {
  position: relative;
  /* margin: 5px; */
  /* width: calc(100% - 10px); */
  width: 100%;
}
.navbar a img{
  width: 28px;
}
.navbar .navbarMenu{
  position: absolute;
  z-index: 100;
  top: 70px;
  right: 10px;
}